[Desktop Entry]
Type=Application
Name=External Drives
GenericName=SD Card Management
Comment=Manages external drives
Keywords=SDCard;Drive;Format
Exec=ciborium-ui
Terminal=false
Icon=/usr/share/ciborium/icons/ciborium.svg
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Gettext-Domain=ciborium
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Title=External Drives
X-Ubuntu-SymbolicIcon=/usr/share/icons/suru/devices/scalable/sdcard-symbolic.svg
