Source: ciborium
Section: universe/utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
 debhelper (>= 9),
 dh-golang,
 dh-translations,
 golang-go,
 golang-go-dbus-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/ciborium
Vcs-Browser: http://bazaar.launchpad.net/~phablet-team/ciborium/trunk/files
Vcs-Bzr: lp:ciborium

Package: ciborium
Architecture: any
Depends: udisks2, notify-osd | unity8, ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Manages storage devices on Ubuntu Touch
 This component uses udisks2 to search of mountable media and notifies
 the user using notify-osd.
