#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS
export DH_GOPKG := launchpad.net/ciborium

%:
	dh $@ \
		--buildsystem=golang \
		--with=golang \
		--with=translations \
		--fail-missing

override_dh_auto_install:
	dh_auto_install -O--buildsystem=golang
	# all our libs are private
	rm -r \
		${CURDIR}/debian/ciborium/usr/share/gocode
	# translations
	appname=ciborium; \
	for pofile in po/*.po; do \
		pofilename="$${pofile##*/}"; \
		langcode="$${pofilename%.*}"; \
		localedir="debian/$$appname/usr/share/locale/$$langcode/LC_MESSAGES"; \
		mkdir -p $$localedir; \
		mofile="$$localedir/$$appname.mo"; \
		msgfmt -o $$mofile $$pofile; \
	done

override_dh_strip:
	echo "Skipping strip (LP: #1318027)"
